# 作業
- 新增一個欄位 `customized_age_grp`，把 `age` 分為 (0, 10], (10, 20], (20, 30], (30, 50], (50, 100] 這五組，
'(' 表示不包含, ']' 表示包含  
- Hints: 執行 ??pd.cut()，了解提供其中 bins 這個參數的使用方式

# [作業目標]
- 請同學試著查詢 pandas.cut 這個函數還有哪些參數, 藉由改動參數以達成目標
- 藉由查詢與改動參數的過程, 熟悉查詢函數的方法與理解參數性質, 並了解數值的離散化的調整工具

# [作業重點]
- 仿照 In[3], In[4] 的語法, 並設定 pd.cut 的參數以指定間距

In [1]:
# 載入套件
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# 初始設定 Ages 的資料
ages = pd.DataFrame({"age": [18,22,25,27,7,21,23,37,30,61,45,41,9,18,80,100]})

#### 等寬劃分

In [3]:
# 新增欄位 "equal_width_age", 對年齡做等寬劃分
ages["equal_width_age"] = pd.cut(ages["age"], 4)

In [4]:
# 觀察等寬劃分下, 每個種組距各出現幾次
ages["equal_width_age"].value_counts() # 每個 bin 的值的範圍大小都是一樣的

(6.907, 30.25]    10
(30.25, 53.5]      3
(76.75, 100.0]     2
(53.5, 76.75]      1
Name: equal_width_age, dtype: int64

#### 等頻劃分

In [5]:
# 新增欄位 "equal_freq_age", 對年齡做等頻劃分
ages["equal_freq_age"] = pd.qcut(ages["age"], 4)

In [6]:
# 觀察等頻劃分下, 每個種組距各出現幾次
ages["equal_freq_age"].value_counts() # 每個 bin 的資料筆數是一樣的

(42.0, 100.0]     4
(26.0, 42.0]      4
(20.25, 26.0]     4
(6.999, 20.25]    4
Name: equal_freq_age, dtype: int64

In [14]:
ageBin = np.linspace(0,100,6)

ages["customized_age_grp"] = pd.cut(ages["age"],ageBin)
ages.groupby(['customized_age_grp']).describe()

                     age                                                       \
                   count        mean        std    min     25%    50%     75%
customized_age_grp
(0.0, 20.0]          4.0   13.000000   5.830952    7.0    8.50   13.5   18.00
(20.0, 40.0]         7.0   26.428571   5.593363   21.0   22.50   25.0   28.50
(40.0, 60.0]         2.0   43.000000   2.828427   41.0   42.00   43.0   44.00
(60.0, 80.0]         2.0   70.500000  13.435029   61.0   65.75   70.5   75.25
(80.0, 100.0]        1.0  100.000000        NaN  100.0  100.00  100.0  100.00


                      max
customized_age_grp
(0.0, 20.0]          18.0
(20.0, 40.0]         37.0
(40.0, 60.0]         45.0
(60.0, 80.0]         80.0
(80.0, 100.0]       100.0